---
layout: default
title: Petr Joachim
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table" style="height: 17rem">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.baseurl}}assets/images/hero/vincent.jpg" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Petr Joachim</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">Engineering</li>
            <li class="postMeta-author">Life</li>
            <li class="postMeta-author">Leadership</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <h4>O čem to je?</h4>
        <p>Docela běžně se snažíme dosahovat výsledky, zlepšovat si život, dělat co je v našich silách - zrychlujeme a zrychlujeme. Po nějaké době v tomto závodu jsme tak akorát vyčerpaní, ztracení a bez nových nápadů. A tak začínáme hledat self-help články k tématům, které nás tíží, dokud nenarazíme na něco čím přerušíme ten kolotoč. Je to super pocit a velké vítězství, než se roztočí jiný kolotoč.</p>
        <h4>Kdo to píše?</h4>
        <p>Jmenuji se Petr Joachim. Několik let <small>(2006-2017) </small> jsem se věnoval vývoji softwaru a vedení lidí například v Seznam.cz nebo Kiwi.com. Od roku 2017 se aktivně věnuji koučování a vývoj dělám jen jako hobby. Během své praxe jsem zjistil, že mě více zajímají lidi než kód. Proto jsem se rozhodl od vývoje upustit a změnit své profesní zaměření.</p>
        <p>Nelituji.</p>
        <h4>Jak to, co dělám, pomůže?</h4>
        <p><em>Nemožné na počkání, zázraky do tří dnů.</em></p>
        <p>Něco takového jsme si říkali jako vývojáři. A něco takového jako kouč zažívám se svými klienty bežně. Ve zkratce &mdash; pomáhám lidem:</p>
        <ul>
            <li>vymyslet a naplánovat cíle</li>
            <li>najít motivaci k jejich uskutečnení</li>
            <li>naučit nebo přeučit se zvyky</li>
            <li>uvědomit si, že co a jak lze změnit</li>
        </ul>
        <!--
        <h4>Goals (short term)</h4>
        <ul>
          <li>Become a full stack entrepreneur (design, engineering, growth)</li>
          <li>Become a good dad</li>
          <li>Share lessons and failures to help fellow entrepreneurs</li>
          <li>Spend more time on side projects</li>
          <li>Do more exercises</li>
        </ul>
        <h4>Dreams (long term)</h4>
        <ul>
          <li>Building a global brand which can represent my hometown</li>
          <li>Building a lasting company</li>
          <li>Building a company not only selling products but also dreams</li>
          <li>Help youngsters to make their dreams come true</li>
        </ul> -->
      </div>
    </div>
  </section>
</article>
<hr/>
{% include subscribe.html %}
{% include footer.html %}
